* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #e20000;

}

html,
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 48, 207, 0.253);

}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.clock-dial{
    position: relative;
}

.point{
    width: 0px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 142px;
    left: 140px;
}

.clock {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: linear-gradient(155deg, #e90a0aec, #fbff00, #f50303);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
    display: flex;
    border: 6px solid rgb(255, 196, 2);
    justify-content: center;
    align-items: center;
    margin: -10px;
    animation: animate 25.5s linear infinite;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 1px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}


.hour{
    font-size: 30px;
    font-weight: bold;
    color: #283149;
    position: absolute;
}

.brand{
    font-size: 11px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 125px;
    left: 39%;
}

.minute-hand-wrapper{
    width: 400px;
    height: 245px;
    position: absolute;
}

.minute-hand{
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.minute-hand .hand{
    width: 5px;
    height: 120px;
    background-color: #2d3264;
    left: 198px;
}

.minute-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #2d3264;
    transform: rotate(180deg);
    position: absolute;
    left: 192px;
    top: -7px;
}

.hour-hand-wrapper{
    width: 300px;
    height: 102px;
    position: absolute;
}

.hour-hand{
    position: relative;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hour-hand .hand{
    width: 7px;
    height: 101px;
    background-color: #000000;
    position: absolute;
    left: 146px;
}

.hour-hand .arrow{
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    transform: rotate(180deg);
    position: absolute;
    left: 139px;
    top: -67px;
}

.second-hand-wrapper{
    width: 350px;
    height: 0px;
    position: absolute;
}

.second-hand{
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.second-hand .hand{
    width: 2px;
    height: 145px;
    background-color: #404b69;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    left: 174px;
}